body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:#f4f3ef
}

.btn-primary {
  background-color: #5D5C61;
  border-color: #5D5C61;
}

.main {
  padding-left: 6rem;
  padding-top: 0rem;
}